@use './mixins';
@use './fonts';

:root {
  font-size: 1.2rem;
  color: mixins.$clr-dark-a0;
  background-color: mixins.$clr-surface-a0;
}


body {
  width: 90vw;
  margin: 0 auto;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  @for $i from 1 through 6 {
    h#{$i} {
      font-family: "Lexend Giga", 'Times New Roman', Times, serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
      font-size: calc(1em + (6em - #{$i}em) / 3em);
    }
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.alert {
  margin: .5em;
  padding: 1em;
  text-align: left;
  font-style: italic;
  border-radius: 1em;

  &.alert-warning {
    color: mixins.$clr-light-a0;
    background-color: mixins.$clr-primary-a20;
  }
}