@use '../../../mixins';

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    margin-top: 1em;
    box-shadow: 2px 2px 4px mixins.$color-muted;
    height: 20vh;

    h1 {
        text-align: center;
    }
    p {
        color: mixins.$color-accent;
        text-align: center;
    }
}