.login-component {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .show {
        text-align: right;
        flex: 200;
        align-self: flex-end;
    }

    .hidden-form {
        display: none;
    }

    .visible-form {
        margin-left: 3px;
        transition: display ease-in 1s;
    }

    .hidden {
        display: none;
    }
}