@use '../../../mixins';
@use 'sass:color';

.nav-bar {
  box-sizing: border-box;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-left: 1em;
  padding-right: 1em;

  nav {
    display: flex;
    flex-direction: row;

    .logo {
      align-self: center;

      img {
        width: 2em;
        padding: .3em;
        border-radius: 50%;
        box-shadow: 2px 2px 5px mixins.$clr-surface-tonal-a50;
      }
    }

    ul {
      user-select: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      li {
        padding: .3em .5em;
        cursor: pointer;
        list-style: none;
        margin: 0 .5em;
        background: mixins.$clr-surface-a20;
        border-radius: 5px 10px;
        box-shadow: 2px 2px 5px mixins.$clr-surface-tonal-a50;

        &:hover {
          background-clip: padding-box;
          transform: translate(1px, -1px);
          box-shadow: none;
        }

        a {
          text-decoration: none;
          color: mixins.$clr-dark-a0;
        }
      }
    }
  }
}

app-login {
  flex: 1 1 0;
  align-self: center;
}
