<div class="customer">
    <div class="icon">
        <mat-icon *ngIf="customer.type==='person'">person</mat-icon>
        <mat-icon *ngIf="customer.type==='company'">business</mat-icon>
    </div>
    <div class="name">{{customer.displayName}}</div>
    <div class="controls">
        <button mat-button class="button" title="View" aria-label="View"><mat-icon>remove_red_eye</mat-icon></button>
        <button mat-button class="button" title="Edit" aria-label="Edit"><mat-icon>edit</mat-icon></button>
        <button mat-button class="button" title="Delete" aria-label="Delete"><mat-icon>delete_forever</mat-icon></button>
    </div>
</div>