.customer {
    display: flex;
    flex-direction: row;
    padding: 10px;

    .icon {
        flex: 0;
        margin-right: 10px;
    }

    .name {
        flex: 1;
        margin-right: 10px;
    }

    .controls {
        display: flex;
        flex-direction: row;
        flex: 0;
    }
    .button {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        
        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }

        &.mat-button {
            color: inherit;
        }
       
    }
}